# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Environnements virtuels
.venv/
venv/
env/

# IDEs
.vscode/
idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Variables d'environnement
.env
.env.local



